# Text file to make sure that git crypt is work
test-git-cypt filter=git-crypt diff=git-cypt

# Qutebrowser quickmarks files
home/config/qutebrowser/quickmarks filter=git-crypt diff=git-crypt
home/config/qutebrowser/bookmarks/* filter=git-crypt diff=git-crypt

# Email config files
home/config/mutt/muttrc filter=git-crypt diff=git-crypt
home/config/mutt/accounts/* filter=git-crypt diff=git-crypt
home/config/msmtp/config filter=git-crypt diff=git-crypt
home/mbsyncrc filter=git-crypt diff=git-crypt
home/notmuch-config filter=git-crypt diff=git-crypt

# RSS Feeds
home/config/newsboat/urls filter=git-crypt diff=git-crypt

# IRC settings
home/weechat/irc.conf filter=git-crypt diff=git-crypt
home/weechat/sec.conf filter=git-crypt diff=git-crypt
