extends sh

# The default "if" snippet for sh uses the bashism [[ ... ]].
# This snipet replaces that statement with a POSIX compliant snippet.
snippet ifp
    if ${1}; then
        ${2:true}
    fi
endsnippet
